*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/codeStyles/Project.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
.DS_Store
/build
/captures
.externalNativeBuild
